*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        -45deg,
        #ff684d,
        #ff3f5b,
        #9d356c,
        #6a11cb
    );

    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;

    overflow: hidden;
}

@keyframes gradientMove{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.container{
    margin: 0;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.container img {
    width: 10%;
    height: 100%;

    object-fit: cover;

    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.68);
    
    transition: all 0.4s ease;

    filter: brightness(0.8);
}

.container img:hover{
    filter: brightness(1);
}

.image-box {
    position: relative;
    width: 10%;
    height: 100%;
    transition: all ease-in-out 0.4s;
}

.image-box img {
    width: 90%;
    height: 100%;
}

.image-box span {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 2px 8px rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.image-box:hover {
    width: 35%;
}

.image-box:hover span {
    opacity: 1;
}